In [2]:
from pathlib import Path

import re
import nltk
import pandas as pd
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
from bs4 import BeautifulSoup

import libs.commons as commons

In [3]:
train_path = Path(commons.dataset_path) / "train.csv"
test_path = Path(commons.dataset_path) / "test.csv"
test_set = pd.read_csv(test_path)
train_set = pd.read_csv(train_path)

In [4]:
train_set['text_len'] = train_set['text'].apply(len)

Taking a look at the dataset by examining the first few rows of train and test sets

In [5]:
test_set.head()

   id keyword location                                               text
0   0     NaN      NaN                 Just happened a terrible car crash
1   2     NaN      NaN  Heard about #earthquake is different cities, s...
2   3     NaN      NaN  there is a forest fire at spot pond, geese are...
3   9     NaN      NaN           Apocalypse lighting. #Spokane #wildfires
4  11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

In [6]:
train_set.head()

,id,keyword,location,text,target,text_len
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1,69
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1,38
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1,133
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1,65
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1,88

Let's examine the keyword feature by sorting the data by the most frequently ocurring keywords

In [7]:
## Frequency of Keyword values
# train_set.describe()
print(f"{train_set['keyword'].nunique()} unique keywords")
key_group = train_set.groupby('keyword')
key_group.count().sort_values(by='id', ascending=False)

221 unique keywords

                       id  location  text  target  text_len
keyword
fatalities             45        32    45      45        45
deluge                 42        29    42      42        42
armageddon             42        32    42      42        42
sinking                41        23    41      41        41
damage                 41        30    41      41        41
...                    ..       ...   ...     ...       ...
forest%20fire          19        12    19      19        19
epicentre              12         9    12      12        12
threat                 11        10    11      11        11
inundation             10         5    10      10        10
radiation%20emergency   9         6     9       9         9

[221 rows x 5 columns]

The keywords feature seems reasonable. We can see a few Unicode space symbols (%20), but the rarest keyword still has 9 occurrences.
Let's do the same to the location feature.

In [8]:
## Frequency of location values
loc_group = train_set.groupby('location')
loc_group.count().sort_values(by='id', ascending=False)

                 id  keyword  text  target  text_len
location
USA             104      104   104     104       104
New York         71       71    71      71        71
United States    50       50    50      50        50
London           45       45    45      45        45
Canada           29       29    29      29        29
...             ...      ...   ...     ...       ...
Hueco Mundo       1        1     1       1         1
Hughes, AR        1        1     1       1         1
Huntington, WV    1        1     1       1         1
Huntley, IL       1        1     1       1         1
åø\_(?)_/åø       1        1     1       1         1

[3341 rows x 5 columns]

In [9]:
def clean_loc(x):
    x = str(x)
    if x:
        return x.lower()
    else:
        return None

train_proc = train_set.copy()
train_proc['location_clean'] = train_proc['location'].apply(clean_loc)
loc_group = train_proc.groupby('location_clean')
loc_group.count().sort_values(by='id', ascending=False)

                                 id  keyword  location  text  target  text_len
location_clean
nan                            2533     2472         0  2533    2533      2533
usa                             104      104       104   104     104       104
new york                         75       75        75    75      75        75
united states                    50       50        50    50      50        50
london                           49       49        49    49      49        49
...                             ...      ...       ...   ...     ...       ...
haiku, maui, hawaii               1        1         1     1       1         1
hailing from dayton               1        1         1     1       1         1
halfrica                          1        1         1     1       1         1
halifax, nouvelle-ìäcosse         1        1         1     1       1         1
ìøåàå_t: 40.736324,-73.990062     1        1         1     1       1         1

[3234 rows x 6 columns]

In [10]:
for loc in loc_group.groups.keys():
    print(loc)

thern ireland
northern kentucky, usa
norwalk, ct
norway
norwich
not a u.s resident
not los angeles, not new york.
not of this world
not so cool ky
not steven yeun / amc.
not where i want to be, yet
nottingham
nottingham, england
nottingham, united kingdom
notts
nova scotia, canada
novi, mi
nowhere
nowhere islands/smash manor
nowhere. everywhere.
numa casa de old yellow bricks
numenor
nunya
nv
ny
ny capital district
ny || live easy?
ny, ct & greece
ny, ny
nyc
nyc / international
nyc :) ex- #islamophobe
nyc area
nyc metro
nyc&nj
nyc, new york
nyc,us - cali, colombia
nyc-la-miami
nyhc
oakland
oakland, ca
oblivion?
ocean city, nj
odawara, japan
oes 4th point. sisstar & ti
official website
ogba, lagos, nigeria
ohio
ohio, usa
ojodu,lagos
ok
okanagan valley, bc
oklahoma
oklahoma city
oklahoma city, ok
oklahoma, usa
okuma town, fukushima
olathe, ks
old blighty
oldenburg // london
olympia, wa
oman muscat al seeb
on
on a beach
on a catwalk somewhere
on the court
on the go
on the toilet having a dump
on the web
on to the next adventure
on twitter
on twitter
ona block w/ my boy ??
ondo
one world
oneonta, ny/ staten island, ny
online
online 24/7. not even kidding.
ontario
ontario canada
ontario, canada
ontario, canada.
orange county, ca
orange county, calif.
orange county, california
orange county, ny
orbost, victoria, australia
oregon
oregon and washington
oregon, usa
orlando
orlando
orlando, fl
orlando,fl  usa
orlando/cocoa beach, fl
orm
ormond by the sea, fl
oshawa, canada
oshawa/toronto
oslo, norway
otsego, mi
ottawa, canada
ottawa, ontario
ottawa,ontario canada
our empire state
outside the matrix, i think.
over the moon...
overland park, ks
overton nv
own planet!!
oxford
oxford / bristol
oxford, ms
oxford, oh
pa
pa, usa
pa.usa
pacific northwest
paducah, ky
paignton
pakistan
pakistan, islamabad
palermo, sicily
palestine
palestine texas
palm bay, fl (kissimmee)
palm beach county, fl
palm desert, ca
palma, islas baleares
palmyra, nj
palo alto, ca
palo alto, california
paname city
panamìá
paonia, colorado
parachute
paradise
paradise city
paradise, nv
paranaque city
paris
paris
paris (france)
paris, france
paris.
park ridge, illinois
passamaquoddy
paterson, new jersey
patra-greece.
paulton, england
pawnee
pdx
pedophile hunting ground
peekskill. new york, 10566
pekanbaruå¡batam islandå¡medan
pelham, al
pembroke nh
penn hills, pa
pennsylvania
pennsylvania, pa
pennsylvania, usa
pensacola, fl
peoria
perenjori, wa
perth, australia
perth, australia
perth, western australia
perthshire
peru
peshawar
peshawar pakistan
petaluma, ca
peterborough, on
peterborough, ont.
peterborough, ontario, canada
pettyville, usa
pg chillin!
pg county, md
ph
phila.
philadelphia
philadelphia, pa
philadelphia, pa
philadelphia, pa usa
philadelphia, pennsylvania
philadelphia, pennsylvania usa
philippines
philippines
philly
philly
phoenix
phoenix az
phoenix, arizona, usa
phoenix, az
photo : blue mountains
phuket thailand
piedmont area, north carolina
piedmont triad, nc
pig symbol, alabama
pioneer village, ky
pissing off antis
pittsboro
pittsburgh
pittsburgh
pittsburgh pa
plain o' texas
planet earth
planet eyal, shandral system
planet of da bathing apes
planeta h2o
plano, il
plano, texas
plano,tx
play for ryan ??
playa
playa del carmen, mexico
playing soccer & eating pizza
pleasanton, ca
please h? ?:??
plfd cuh..
pluto
plymouth
pocatello, id
pocatello, idaho
poconos
poffin
polmont
pomfret/providence
pompano beach, fl
pon di gully
pontefract uk
pontevedra, galicia
poplar, london
port charlotte, fl
port harcourt, nigeria
port jervis, ny
port matilda pa
port orange, fl
port williams ns
portage, in / worldwide
porthcawl
portland, or
portland, ore.
portland, oregon
porto alegre, rio grande do sul
portoviejo-manabi-ecuador
portsmouth, uk
portsmouth, va
portugal
positive 852
potters bar
pratt-on-wye
predjama, eslovenia.
prehistoric earth
pretoria
primum non nocere
principality of zeron
pro-american and anti-#occupy
prob turning up with sheen
probably not home
probably petting an animal
probably the strip club
probably watching survivor
proud @buckmasonusa supporter!
proud indians
proudly canadian!
proudly frozen canuck eh !!
proudly south african
prov
providence ri / lisnaskea
ps4, now stop asking
psa nursing
psn: pipbois
pueblo, co
pueblo, colorado
puerto rico
pune, maharashtra
pune, mostly
punjab
punpunlì¢ndia
purfleet
purgatory, usa
purple booth studioã¢
qld australia
qosqo
quantico, va
queen creek az
queens new york
queens, ny
queens.
queensland
queensland, australia
quezon city, philippines
quilmes , arg
quincy
quincy ma
quito, ecuador.
r'lyeh, south pacific
rafael castillo
raleigh (garner/cleveland) nc
raleigh durham, nc
raleigh, nc
rapid city, black hills, sd
rapid city, south dakota
reading a romance novel
reading ma
reading uk
reality
realville
redding, california, usa
reddit
reddit
redondo beach, ca
regalo island
renfrew, scotland
republic of texas
republic of the philippines
republica dominicana
reston, va, usa
rheinbach / germany
rhode island
rhodeisland
rhyme or reason?
richardson tx
richmond heights, oh
richmond, va
right here
right next to compton
right next to you
rio
rio de janeiro
rio de janeiro | brazil
riverdale, ga
riverside, ca
riverside, california.
riverview, fl
riyadh
riyadh ')
roads/trails everywhere
roadside
roaming around the world
roanoke va
roanoke, va
robin hood's county
rochelle, ga
rochester
rochester hills, mi
rochester, ny
rock hill, sc
rock springs, wy
rocketing through the galaxy
rockford, il
rockland county, ny
rockville, maryland
rocky mountains
rogersville, mo
romania
rome
rome, italy
room 234
roppongi, minato, tokyo
rotterdam, the netherlands
rotterdam, zuid-holland
rowyso dallas
royton
rsn: tru
rural northern nevada
rural ohio (fuck)
russia
rutherfordton, nc
rzl ?
s.f. bay area
sacae plains
sacramento
sacramento, ca
sacramento, california
saint louis, missouri
saint lucia
saint marys, ga
saint paul
saipan, cnmi
sale, england
saline, mi
salt lake city, ut
salt lake city, utah
saltillo, coahuila de zaragoza
san antonio, tx
san antonio-ish, tx
san diego
san diego ca
san diego california 92101
san diego, ca
san diego, calif.
san diego, california
san diego, texas.
san francisco
san francisco , ca
san francisco bay area
san francisco, ca
san fransokyo
san gabriel la union
san jose
san jose, ca
san jose, ca, usa
san jose, california
san juan, puerto rico
san luis obispo, ca
san mateo county, ca
sand springs oklahoma
sandton, south africa
sanganer, rajasthan
santa clara, ca
santa cruz, ca
santa maria, ca
santa monica, ca
santiago bernabeau
santiago de chile
santiago de cmpostela galicia
santiago,repì¼blica dominicana
santo domingo
santo domingo alma rosa
sao paulo
sao paulo, brazil
sarasota, fl
saskatchewan, canada
satan's colon
saudi arabia
saudi arabia - riyadh
savage states of america
savannah, ga
scandinavia
scituate, ma
score more goals buying @
score team goals buying @
scotland
scotland
scotland, united kingdom
scotts valley, ca
scottsdale, az
scottsdale. az
screwston, tx
scumbernauld
sd |norway| ksa
se london(heart is by the sea)
sea server
searching for bae
seattle
seattle grace mercy death
seattle native in prescott, az
seattle wa
seattle, wa
seattle, wa usa
seattle, washington
sec country
see the barn of bleakness
selangor
selena | britney | hilary
selma2oakland
semarang, indonesia
seoul
serva fidem
sevier county.
sf bay area
sf bay area, california / greater phoenix, az
shady pines
shah alam,malaysia
shanghai
sharkatraz/bindle's cleft, pa
she/her/your majesty/empress
sheff/bangor/salamanca/madrid
sheffield // rotherham
sheffield township, ohio
sheffield/leeds
shelby county
sherwood, brisbane, australia
shipwreck cove
shirley, ny
shity land of northern ireland
shoujo hell
shrewsbury
sicamous, british columbia
silang, cavite / paraì±aque
silesia, poland
silicon valley
silver spring, md
silvermoon or ironforge
sindria
singapore
sioux falls, s.d.
sioux falls, sd
sisterhood
sitting on eddie vedders lap,
sitting on the fence, new york
skyhold
skyport de la rosa
slappin and smackin
slateport city, hoenn
slatina,romania
sligo and galway, ireland
smash manor/kanto
snapchat~ maddzz_babby
sneaking glances at thancred
socal
sochi, kda, ru
sodak
somalia
some other mansion
some pum pum
some where
some where in this world
somecity, somerset, md
someday i'll live in england.
someplace living my life
somerset, uk
somewhere
somewhere
somewhere around you
somewhere between chicago & milwaukee
somewhere between here & there
somewhere else...
somewhere in cali
somewhere in china.
somewhere in indiana
somewhere in jersey
somewhere in portugal
somewhere in spain
somewhere in the canada
somewhere only we know ?
somewhere out there
somewhere outside
somewhere over a rainbow
somewhere powerbraking a chevy
somewhere too cold for me
somewhere usa
somewhere with clyde
soufside
soul somalia/body montreal
south 37
south africa
south africa eastern cape
south asia
south bloomfield, oh
south carolina
south carolina, usa
south central wales
south east of u.k
south florida
south korea gmt+9
south of d.c.
south of heaven
south pasadena, ca
south stand
south west, england
south, england
south, usa
southeast asia
southern califorina
southern california
southern california desert
southern maine
southwest, tx
spain
spain - china - latin america.
spain but opa-locka, fl
spare 'oom
speaking the truth in love
spinning through time.
spokane, wa
spokane, washington
spokane, washington 99206
spring grove, il
spring tx
spying on your thoughts
sri lanka
srinagar,kashmir
ss
st austell, cornwall
st charles, md
st joseph de beauce
st louis, mo
st paul, mn
st petersburgfl
st. catharines, ontario
st. john's, nl, canada
st. joseph, minnesota
st. louis
st. louis mo.
st. louis, missouri
st. louis, mo
st. patrick's purgatory
st.cloud, mn
st.louis county missouri
stage with trey songz
staggering on tenement roofs
stalybridge, tameside
stamford & cork (& shropshire)
stanford university
starling city
state college, pa
state of dreaming
state of georgia
stateless global citizen
statesboro/vidalia
statute of limitations_
stay fly?
stay tuned ;)
still. ??s.a.n.d.o.s??
stl ?nola
stockholm, sweden
stockton on tees teesside uk
storybrooke
storybrooke / the moors
stowmarket
stratford, ct
street of dallas
studio
subconscious la
suburban detroit, michigan
sugar land, tx
sugarhouse, ut
suginami-ku, tokyo, japan
suitland
sumter, sc
sunbury, ohio
sunny south florida
sunnyvale, ca
sunrise manor, nv
sunshine coast, queensland
suplex city
surabaya
surrey & manchester
surrounded by weeaboos
surry hills, sydney
surulere lagos,home of swagg
sutton, london uk
suva, fiji islands.
swag francisco
swan river
swaning around
sweden
swindon
swindon,england
swinfo@dot.state.al.us
switzerland
swmo
sydney
sydney & worldwide
sydney australia
sydney, australia
sydney, new south wales
sydney, nsw
sylacauga, alabama
sì£o luis
sì£o paulo
sì£o paulo sp,  brasil
sì£o paulo, brasil
t e x a s | wwat 8.24.14
t-ville
taco bell
tacoma,washington
tafekop ga-matsepe
taken by piper curda
taking bath do not disturb
taking pain like pleasure
tallahassee florida
tallahassee, fl
tama, iowa
tampa
tampa, fl
tampa-st. petersburg, fl
tamworth
tarragona
taylor swift
team slytherin
techfish
ted&qz inc, ireland, europe
teh internets
telangana
tema,accra
temecula, ca
temporary towers
tennessee
tennessee, usa
tennessee/gallifrey
terlingua, texas
terre haute, in
texas
texas
texas a&m university
texas af
texas, usa
texas-usaã¢ ?
texasss
thailand
thailand malaysia indonesia
thane
thanjavur
the 5th dimension.
the 6ix
the ?? below ???
the american wasteland (mv)
the azure cloud
the barn
the burrow
the canopy kingdom
the circle of life
the citadel, oldtown, westeros
the d
the dark
the desert
the desert of the real
the dirty d
the empire/first order
the epicenter, and beyond
the forever girl
the globe
the great state of maine
the great state of texas
the green and pleasant land.
the grey area
the hammock, fl, usa
the harbinger.
the howling
the insane asylum.
the internet
the internet & nyc
the internetz
the jewfnited state
the kingdom of fife, scotland
the land of mass stupidity
the land of new jersey.
the local dump
the low-cal calzone zone
the main
the meadow
the memesphere
the moon
the multiverse
the netherlands
the north
the orwellion police-state
the own zone layer
the p (south philly)
the peach state
the pig sty
the pumpkin carriage of dreams
the refrigerator
the road to success
the sanctuary network, rome
the shady hyenatown of finland
the shire
the shores of lake kilby
the south & westcoast
the sun's corona
the tardis
the triskelion
the uk
the universe
the void, u.s.a
the waystone inn
the web
the weird part of wonderland
the windy city
the windy plains of denver
the wood
the world
the world t.g.g / m.m.m
they/her
they/them
they/them
thibodaux, la
third rock from the sun
this is paradise. relax.
thornton  colorado
thrissur
timaru district, new zealand
timeline kamu
tipperary (long way)
tips on my blog at
tn
to the right of you!
todaysbigstock.com
tokyo
tokyo & osaka
toledo
toledo, oh
tonyj@centralizedhockey.com
too far
top secret
top secret bunker
topeka, ks
tornado alley, usa
toronto
toronto û¢ dallas
toronto, bob-lo, miami beach
toronto, canada
toronto, on
toronto, on, canada
toronto, ontario
toronto, worldwide
toronto-citizen of canada & us
torrance, ca
torry alvarez love forever ? ?
trackside california
tractor land aka bristol
trancy manor
trapped in america
trapped in my conscience
travelling around the world
travelling to tae's pants
traverse city, mi
tri state
tri-cities, wash.
tring
tring, uk
trinidad & tobago
trinidad and tobago
trinity, bailiwick of jersey
tripoli international airport
tripsburg, ms.
trost district
trumann, arkansas
tucson, arizona
tucson, az
tulalip, washington
tulsa, ok
tulsa, oklahoma
tunbridge wells
turkmenistan
turner fenton
tv5, philippines
twitch.tv/naturalemblem26
twitter lockout in progress
twitterville
two up two down
tx
tyler, tx
tìáchira - venezuela
u.k.
u.s
u.s.
u.s. northern virginia
u.s.a
u.s.a and canada
u.s.a.   fema region 5
u.s.a. - global members site
uae,sharjah/ abudhabi
uga '15 alumnus - economics
uganda
uk
uk  & germany
uk & ibiza
uk great britain
uk, republic of ireland and australia
uk,singer,songwriter,?2 act
ukraine
ukraine and ireland
under santa barbara skies
under the blanket
unite. bless. wallahi
united hoods of the globe
united kingdom
united kingdom,fraserburgh
united states
united states of america
united states where it's warm
unites states
university heights, ohio
university of chicago
university of limerick
university of south florida
university of toronto
unknown
unknown
unnamed city
up a hill
upper manhattan, new york
upper st clair, pa
uppsala, sweden
upstairs.
upstate new york
uptown
uruguay / westeros / gallifrey
urì£nus
us
us, pa
us-east-1a
us-pr
us: 44.414510,8.942499
usa
usa
usa (formerly @usnoaagov)
usa , az
usa - canada - europe - asia
usa, alabama
usa, haiti, nepal
usa, north dakota
usa, wa
usa/so florida via brooklyn ny
usaov
use #tmw in tweets get #rt
utah
utah, usa
utica ny
uyo, akwa ibom state, nigeria
v-rp @ozrp_ ?mv, au, r18+?
va
va beach, virginia
vail valley
valle del sol
valparaiso
van buren, mo
vancouver
vancouver (hq) and worldwide
vancouver bc
vancouver canada
vancouver usa
vancouver, bc
vancouver, bc, canada
vancouver, bc.
vancouver, british columbia
vancouver, canada
vancouver, colombie-britannique
varanasi
varies
vcu
venezuela
ventura
ventura, ca
vermont, usa
vero beach , fl
very sw ca, usa....draenor
victoria mozì£o
victoria, australia, earth
victoria, bc
victoria, bc  canada
victoria, british columbia
victoria, canada
victoria, tx.
victorville, ca
vidalia ga
viejo
vietnam
vilnius
vineyard
virginia
virginia, united states
virginia, usa
virgo supercluster
visit my youtube channel.
visit our  dedicated website @
vista, ca
viterbo bfa acting '18
vitì_ria (es)
vont island, lagos
voorhees, nj
vì_a lìáctea
vì_sterì´s, sweden
w. nykae
w.i.t.s academy
wa state
waco tx
waco, texas
waddesdon
wahpeton, nd
waialua, hawaii
wailuku, maui
waistdeep, tx
wakanda
wakefield ma
wakefield, west yorkshire
wales
wales, united kingdom
walker county, alabama
walking the tightrope
walthamstow, london
wanderlust
wandsworth, london
warm heart of africa
warrandyte, australia
warri
warsaw
warszawa
warwick, ri @dollarocracy also
washington
washington d.c.
washington dc
washington dc / nantes, france
washington state
washington, d.c.
washington, d.c.
washington, d.c., area
washington, dc
washington, dc & charlotte, nc
washington, dc 20009
washington, dc native
washington, krasnodar (russia)
washington, usa
washington,dc
wasington, dc
watch those videos -
waterford mi
waterfront
waterloo, on
waterloo, ont
watertown, mass.
watford
waukesha, wi
wausau, wisconsin
waverly, ia
we are global!
we're all mad here
we?it û¢ ixwin
webster, tx
wellington
wellington, new zealand
welt
wema building
west
west africa
west bank, gaza strip
west chester, pa
west coast, cali usa
west coast, usa
west hollywood
west hollywood, ca
west lancashire, uk.
west midlands
west palm beach, florida
west richland, wa
west vancouver, b.c.
west virginia, usa
west wales
westchester
westend, puritan ave
westerland
western new york
western washington
weston super mare
westside of philly 7? block??
westwestwestwestwestwestwest
weyburn
where ever i please
where i need to be
where i'm supposed to be
where the money at
where the wild things are
wherever i'm needed
wherever i'm sent
wherever the $$$ at
wherever there's netflix
wherever-the-fuck washington
whippany, nj
whitby, on
white plains, ny
whiterun, skyrim
whole world
whs '17
why should you know?
wilbraham, ma
wild wild web
wildomar, ca
williamsbridge, bronx, new yor
williamsburg, va
williamstown, vt
wilmington, de
wilmington, delaware
wilmington, nc
wiltshire
windsor,ontario
winnipeg
winnipeg, manitoba
winnipeg, mb, canada
winston salem, north carolina
winston-salem north carolina
winston-salem, nc
winter park, colorado
wisco
wisconsin
wisconsin, usa
with doflamingo
wny
wolmers trust school for boys
wolverhampton
wolverhampton/brum/jersey
wonderlandûó ?????? ???? ??????
wood buffalo, alberta
woodcreek hs, roseville, ca
woosley
worcester, ma
wordldwide
world
world news
world wide
world wide web
world wide!!
worldwi$e
worldwide
worldwide - global
worldwide!
worldwide-boston
worldwide.
worldwideweb
wrapped arnd hyuk's finger
wrex
wrigley field
wv, love the blue and gold
www.aprylpooley.com
www.facebook.com/stuntfm
www.tmgcgart.com
www.twitch.tv/pksparkxx
www.youtube.com?malkavius2
wynne, ar
wyoming, mi (grand rapids)
xi'an, china
xiumin's nonexistent solos
y(our) boyfriends legs
y/e/l
ya motha bed
yadkinville, nc
yamaku academy, class 3-4
yeezy taught me , nv
yellowknife
yellowknife, nt
yewa zone
ylisse
yobe state
yogya berhati nyaman
yooooooo
yorkshire

you're not 19 forever
youngstown, oh
your conversation
your notifications
your screen
your sister's bedroom
your six
youtube.com/channel/uchwtlc9b4zjugh7ydlb55iw
yuba city, ca
yulee, fl
yuuko-san's shop
zac newsome loves me
zboyer@washingtontimes.com
zeerust, south africa
zero branco
ziam af
zimbabwe
{detailed}
{got | modern au | lizz}
| ca û¢ ga  |
|-/
|| c h i c a g o ||
êwagger!ìominicanì÷
û¢ views from the six û¢
û¢5û¢12û¢14û¢ | åè#savioursquadåç
û¢901û¢
û¢flgû¢
û¢iii.xii.mmxiû¢
û¢oldercandybloomû¢
ûêûêûê
å_: ?? ìñ ? : ?
å_å_los mina cityã¢
å¡å¡midwest û¢û¢
åê(?û¢`?û¢å«)??
åø\_(?)_/åø
ìït: -26.695807,27.837865
ìït: 0.0,0.0
ìït: 1.50225,103.742992
ìït: 10.614817868480726,12.195582811791382
ìït: 19.123127,72.825133
ìït: 27.9136024,-81.6078532
ìït: 30.307558,-81.403118
ìït: 33.209923,-87.545328
ìït: 35.223347,-80.827834
ìït: 36.142163,-95.979189
ìït: 39.982988,-75.261624
ìït: 40.562796,-75.488849
ìït: 40.707762,-74.014213
ìït: 41.252426,-96.072013
ìït: 42.910975,-78.865828
ìït: 43.631838,-79.55807
ìït: 6.4682,3.18287
ìït: 6.488400524109015,3.352798039832285
ìøåàå_t: 40.736324,-73.990062

It appears that a lot of Twitter users write locations that are badly formatted, jokes or simply non-informative. Even those who put a real location don't follow any standard: some write only country, while others write city or US state.

We could try to clean up this feature and use it, but it would be non-trivial and with no guaranteed results. We'll leave it be and use only text data for now.

# Text Preprocessing
To preprocess the text feature, we will remove HTML tags with beautiful soup and remove all characters except alphanumeric and hashtags.
Then, we'll split the text into words and keep only their radicals, using nltk PorterStemmer

In [11]:
# Preprocess and clean text features
nltk.download("stopwords")
stopwords_set = set(stopwords.words("english"))
stemmer = PorterStemmer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\olavo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [12]:
def process_text(text):
    text = str(text)
    text = BeautifulSoup(text, "html.parser").get_text() # Remove HTML tags
    text = re.sub(r"[^a-zA-Z0-9#]", " ", text) # Keep only alphanumeric characters and hashtags
    text = text.lower()
    words = set(text.split()) # Split string into words
    
    # Remove stopwords
    words = list(words - stopwords_set)
    
    # Stem words with PorterStemmer
    stemmer = PorterStemmer()
    def stem_word(x):
        return stemmer.stem(x)
    words = list(map(stem_word, words))
    
    return words

 
# def process_dataset(dataset, cached_path=Path(commons.dataset_path) / 'train_processed.csv'):
#     '''Apply text preprocessing and BoW codification to the entire dataset'''
#     cached_path = Path(cached_path)
#     if cached_path.is_file():
#         return pd.read_csv(cached_path)
    
#     dataset['text_proc'] = dataset['text'].apply(process_text)
#     if cached_path:
#         dataset.to_csv(cached_path)
#     return dataset

We can see how each text is split into word radicals below

In [13]:
for entry in train_proc.loc[0:20, 'text']:
    print(process_text(entry))

['allah', 'reason', 'may', 'forgiv', '#earthquak', 'us', 'deed']
['forest', 'la', 'near', 'rong', 'fire', 'canada', 'sask']
['ask', 'place', 'resid', 'expect', 'shelter', 'evacu', 'notifi', 'order', 'offic']
['california', '000', 'peopl', '13', 'receiv', 'evacu', '#wildfir', 'order']
['smoke', 'sent', 'photo', '#alaska', 'rubi', 'got', '#wildfir', 'school', 'pour']
['close', 'due', 'fire', 'california', 'hwi', 'updat', 'counti', '#rockyfir', '20', '#wildfir', '#cafir', 'direct', 'lake']
['caus', '#disast', '#flood', 'flash', 'street', 'colorado', 'heavi', 'manit', 'rain', 'spring', 'flood', 'area']
['hill', 'see', 'fire', 'wood', 'top']
['emerg', 'build', 'across', 'evacu', 'happen', 'street']
['come', 'afraid', 'area', 'tornado']
['three', 'die', 'far', 'wave', 'peopl', 'heat']
['tampa', 'second', 'flood', 'live', 'hah', 'gonna', 'south', 'get', '#flood', 'wait', 'fvck', 'haha']
['#tampabay', '#rain', 'day', '#florida', '#flood', '19', '18', '#tampa', 'lost', 'count']
['bago', '#flood', 'arriv', 'myanmar', '#we']
['#break', 'car', 'crash', 'bu', '80', 'school', 'damag', 'multi']
['man']
['love', 'fruit']
['summer', 'love']
['car', 'fast']
['goooooooaaaaaal']
['ridicul']

Then, we'll process the entire dataset using the previous function and sklearn CountVectorizer to convert the processed texts into a Bag of Words representation

In [14]:
from libs.dataset import create_dataset

seed                 = 10
train_path           = Path(commons.dataset_path) / "train.csv"
test_path            = Path(commons.dataset_path) / "test.csv"

# Create train and validation datasets and save to file
train_x, val_x, train_y, val_y = create_dataset(train_path, test_path, seed=seed)

Cleaning text...

Assembling Bag of Words matrix...

Splitting dataset...

Saving dataset to file...

In [20]:
train_x

,#,#1,#360wisenew,#7,#9,#abstorm,#accid,#africa,#afterlif,#airplan,...,yr,z,z10,zak,zayn,zero,zombi,zone,zouma,zujwuiomb3
2572,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1813,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2767,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7563,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3441,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1344,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4623,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7293,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1289,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
from libs.dataset import TextDataset

val_processed_path   = Path(commons.dataset_path) / "val_processed.csv"
val_dataloader = TextDataset(val_processed_path, target_column=commons.target_column_name,
        normalize=True, balance=False)

In [28]:
val_dataloader.dataset

,#,#1,#360wisenew,#7,#9,#abstorm,#accid,#africa,#afterlif,#airplan,...,yr,z,z10,zak,zayn,zero,zombi,zone,zouma,zujwuiomb3
0,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,39.012818,0.0,-0.077101,0.0,0.0
1,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
2,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
3,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
4,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1518,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
1519,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
1520,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
1521,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0
1522,-0.085294,-0.044426,-0.036262,0.0,-0.036262,-0.036262,0.0,-0.025633,-0.025633,0.0,...,-0.025633,0.0,0.0,0.0,0.0,-0.025633,0.0,-0.077101,0.0,0.0

In [35]:
val_dataloader.dataset.std(axis=0) == 0

#              False
#1             False
#360wisenew    False
#7              True
#9             False
               ...
zero           False
zombi           True
zone           False
zouma           True
zujwuiomb3      True
Length: 5000, dtype: bool

In [37]:
print(val_dataloader.dataset.columns[val_dataloader.dataset.std(axis=0) == 0])
# val_dataloader.dataset.drop(columns=val_dataloader.dataset.std(axis=0) == 0)

Index(['#7', '#accid', '#airplan', '#animalrescu', '#antioch', '#artistsunit',
       '#arwx', '#atlanta', '#avalanch', '#bb17',
       ...
       'yell', 'yemen', 'yorker', 'z', 'z10', 'zak', 'zayn', 'zombi', 'zouma',
       'zujwuiomb3'],
      dtype='object', length=1702)